
body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;

}
.ul{
    padding: 0;
}
header{
    display: flex;
    flex-direction: column;
}

.wrapper {
    margin-left: 120px ;
    margin-right: 120px;
}

.text{
    text-decoration: none;
    list-style: none;
    padding:0px 10px;
    font-size: 14px;
}

.choose{
    text-decoration: none;
    list-style: none;   
    font-size: 15px;
    margin: 0px;

}
.nav-top{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}
.nav-left{
    display: flex;
    margin:  0px;
    padding: 0px;
    
}
.nav-right{
        display: flex;
        margin:  0px;
}
.language{
    display: flex;
    margin: 0px;

}
.nav-top-icon{
    color: rgb(118, 118, 118);
}
.icon-1{
    margin-right: 5px;
}
.icon-3{
    margin-left: 4px;
}
.nav-center{
    background: rgb(191, 204, 205);
}
.nav-center-all{    
    display: flex;
justify-content: space-between;
height: 100px;
box-sizing: border-box;
}

.nav-logo{
    padding-top: 30px;
    padding-bottom: 30px;
}
.nav-cart{
    display: flex;  
}
.cart-left{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 30px;
    padding-right:  50px;
}
.cart-left-item{
    
    display: flex;
    justify-content: space-evenly;
}
.cart-detail{
    height: 26px;
    position: relative;
    top: 40px;
}
.cart-right{
    display: flex;
    width: 172px;
    justify-content: space-around;
}
.icon-cart{
    padding: 0px 3px;
    color: inherit;
}
.icon-a{
    font-size: 25px;
}
.icon-b{
    font-size: 12px;
}

.nav-search{
    display: flex;
    flex-basis: 100%;
    padding: 0px 50px;
}
.input-search{
   margin-top: 31px;
   margin-bottom:31px ;
   padding: 5px 21px;
   width: 100%;
   
   
      
}
.button {
    border:0;
    padding: 5px 10px;
    height: 38px;
    position: relative;
    top: 31px;
    left: 5px;
    background: rgba(13,82,214,1);
    cursor: pointer;
    
}
.list{
    color: white;
    padding: 5px 20px;
    height: 39px;
    position: relative;
    top: 31px;
    right: 5px;
    background:rgba(13,82,214,1) ;
    
    
}
.list:hover{
    color: white;
    font-weight: 450;
    background: rgb(0, 0, 120);
}
.nav-bot{
    background: rgba(13,82,214,1); 
    border-bottom: 3px solid orange;
}
.nav-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    height: 41px;
}


.nav-bot-item{
    font-weight: 500;
    color: white;
    padding: 10px 10px;
}
.nav-bot-item:hover{
    background-color: white;
    color: black;
}


.first{
    background: yellow;
    color: black;
    padding-right: 40px;
}   

 .last{
    background: yellow;
    color: black;
    padding: 10px 20px;

}


.content{
    display: flex;
    flex-direction: column;
}
.content-1-1{
    padding-left: 0;
}
.content-1-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-2{
    display: flex;
    justify-content: space-around;
    background: rgba(58,71,84,1);
}
.content-2-item{
    padding: 35px 100px;
}
.textcontent2-item{
color: white;
}
.content-3{
    margin-top: 50px;
    margin-bottom: 40px;

}
.title{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}
.p{
    text-align: center;
    margin-top: 10px ;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px ;
    color: rgba(139, 145, 152, 1);
    font-size: 16px;
    display: inline-block;
}
.content-3-allpic{
    display: flex;
    justify-content: space-around;
}
.content-3-pic, .content-3-0-pic {
     overflow: hidden ;
     margin: 10px;
}

.pic-up{
    display: none;
}
.content-3-0-pic:hover img{   
    transform: scale(1.05);
    
}
.content-3-pic:hover img{   
    animation: scaleImg 1s linear;
    content:url('https://www.journal-theme.com/1/image/cache/catalog/journal3/categories/bagcat-240x280h.jpg')
}
@keyframes scaleImg{
    0%{
        opacity: 0;
        transform: scale(1);
    }50%{
        opacity:0.5;
        transform: scale(1.05);
    }100%{
        opacity: 1;
        transform: scale(1.1);
    }
}
/* .content-3-pic:hover .pic-up{   
    transform: scale(1.1);
    display: block;
} */
.tab{
    font-size: 13px;
    font-weight: 700;
    color: rgb(75, 75, 75);
    text-transform: uppercase;
    padding: 12px 15px;
    background: rgb(194, 194, 194); ;
    margin-bottom: 40px ;
   
}
.tip{
    margin-top:40px ;
}
.tab:hover {
    background-color: rgba(13,82,214,1);
    color: white;
}
.content-4{
    background-color: rgb(237, 234, 234);
}
.logo-item{

    border: 1 solid rgb(0, 0, 0);

}
.content-6{
    background: rgba(58,71,84,1);
}
.footer{
    display: flex;
    flex-direction: column;
}
.icon-4{
    padding: 15px 10px;
    font-size: 40px;
    

}.foot-content{
    display:flex ;
    flex-direction: column;
    flex-basis: 25%;
}
.foot-bot{
    background-color:rgba(58,71,84,1) ;
}
.foot-content{
    margin-bottom: 20px;
}
.foot-bot-right{
    color: rgb(191, 204, 205);
    
}
/* .hr1{
    margin-left: 610px;
} */
.sub{
    display: none;
    position: absolute;  
    background: rgb(54, 54, 164);
    list-style: none;
    padding-left: 0px;
    
}
li:hover ul.sub{
    display: block;
    z-index:1;
    margin-top: 7px;

}


.sub-item{
    display: block;
    padding: 5px 15px 5px 5px;
    border-bottom: 1 solid white;
    
    
}
.sub-item:hover{
    background: rgb(107, 67, 255);
}