body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;

}
.ul{
    padding: 0;
}
header{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

.wrapper {
    margin-left: 120px ;
    margin-right: 120px;
}

.text{
    text-decoration: none;
    list-style: none;
    padding:0px 10px;
    font-size: 14px;
}

.choose{
    text-decoration: none;
    list-style: none;   
    font-size: 15px;
    margin: 0px;

}
.nav-top{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}
.nav-left{
    display: flex;
    margin:  0px;
    padding: 0px;
    
}
.nav-right{
        display: flex;
        margin:  0px;
}
.language{
    display: flex;
    margin: 0px;

}
.nav-top-icon{
    color: rgb(118, 118, 118);
}
.icon-1{
    margin-right: 5px;
}
.icon-3{
    margin-left: 4px;
}

.nav-center{
    background: rgb(191, 204, 205);
    display: flex;
justify-content: center;
height: 100px;
box-sizing: border-box;
}
.nav-logo{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 128px;
    width: 230px;
    
}
.nav-cart{
    margin-right: 128px;
    display: flex;
    width: 400px;  
}
.cart-left{
    display: flex;
    width: 228px;
    justify-content: space-evenly;
    height: 26px;
    position: relative;
    top: 30px;
}
.cart-left-item{
    
    display: flex;
    justify-content: space-evenly;
}
.cart-detail{
    height: 26px;
    position: relative;
    top: 40px;
}
.cart-right{
    display: flex;
    width: 172px;
    justify-content: flex-end;
box-sizing: border-box;
}
.icon-cart{
    padding: 0px 3px;
    color: inherit;
}
.icon-a{
    font-size: 25px;
}
.icon-b{
    font-size: 12px;
}

.nav-search{
    width: 650px;
    display: flex;
    
    
}
.input-search{
   margin-top: 31px;
   margin-bottom:31px ;
    width: 80%;
   padding: 5px 21px;
      
}
.button {
    border:0;
    padding: 5px 10px;
    height: 38px;
    position: relative;
    top: 31px;
    left: 5px;
    background: rgba(13,82,214,1);
    cursor: pointer;
    
}
.list{
    color: white;
    padding: 5px 20px;
    height: 39px;
    position: relative;
    top: 31px;
    right: 5px;
    background:rgba(13,82,214,1) ;
    
}
.list:hover{
    color: white;
    font-weight: 450;
    background: rgb(0, 0, 120);
}
.nav-bot{
    background: rgba(13,82,214,1);
    display: flex;
justify-content: space-between;
height: 50px;
border-bottom: 3px solid orange;



}
.menu-left{
    margin-left: 90px;
    margin-top: 11.9px;
    margin-bottom: 0px;
  
}
.menu-right{
    margin-right: 128px;
    margin-top: 11.9px;
    margin-bottom: 0px;
}
.menu-item{
    font-weight: 500;
    color: white;
}
.menu-item:hover{
    background-color: white;
    color: black;
}


.menu-side, .phone, .blog {
    padding: 12px 15px;
    
}
.menu-side:hover .phone:hover{
    background-color: white;
    color: black;
}
.phone:hover{
    background-color: white;
    color: black;

}

.menu-side-1{
    background: yellow;
color: black;
padding-right: 50px;
} 
.blog{
background: yellow;
color: black;


}

.menu-side-1:hover{
    background: white;
color: black;
padding-right: 50px;
} 
.blog:hover{
background: rgb(255, 255, 255);
color: black;
}
.content{
    display: flex;
    flex-direction: column;
}
.content-1{
    display: flex;
}
.content-1-1{
    flex-basis: 75%;
}
.hr{
    margin-left: 610px;
}
.content-1-2{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    justify-content: center;
}
.pic-1{
    padding: 19px 10px 19px 0px;
    border-radius: 4px;

}
.pic-2{
    padding: 7px 10px ;
    background: rgb(255, 255, 255);
    
}
.content-2{
    display: flex;
    justify-content: space-around;
    background: rgba(58,71,84,1);
}
.content-2-item{
    padding: 35px 100px;
    
}
.textcontent2-item{
color: white;
}
.content-3{
    margin-top: 50px;
}
.title{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}
.p{
    text-align: center;
    margin-top: 10px ;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px ;
    color: rgba(139, 145, 152, 1);
    font-size: 16px;
    display: inline-block;
}
.content-3-allpic{
    display: flex;
    justify-content: space-around;
}
.tab{
    font-size: 13px;
    font-weight: 700;
    color: rgb(75, 75, 75);
    text-transform: uppercase;
    padding: 12px 15px;
    background: rgb(194, 194, 194); ;
    margin-bottom: 40px ;
   
}
.tip{
    margin-top:40px ;
}
.tab:hover {
    background-color: rgba(13,82,214,1);
    color: white;
}
.content-4{
    background-color: rgb(237, 234, 234);
}
.logo-item{

    border: 1 solid rgb(0, 0, 0);

}
.content-6{
    background: rgba(58,71,84,1);
}
.footer{
    display: flex;
    flex-direction: column;
}
.icon-4{
    padding: 15px 10px;
    font-size: 40px;
    

}.foot-content{
    display:flex ;
    flex-direction: column;
    flex-basis: 25%;
}
.foot-bot{
    background-color:rgba(58,71,84,1) ;
}
.foot-content{
    margin-bottom: 20px;
}
.foot-bot-right{
    color: rgb(191, 204, 205);
}